<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css" integrity="sha384-zIaWifL2YFF1qaDiAo0JFgsmasocJ/rqu7LKYH8CoBEXqGbb9eO+Xi3s6fQhgFWM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="shortcut icon" href="../static/favicon.ico">
    <title>S-HR</title>
</head>
<body class="p-2 m-0 border-0 bd-example">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container container_width">
            <a href="#" class="navbar-brand">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4XerngAYda3ZhW2WCxkf2vMpotKotpmMSZQ&usqp=CAU" alt="" width="45" height="45" class="rounded-circle">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link active">Home</a>
                    </li>
                    <li class="nav-item"> 
                        <a href="#" class="nav-link active">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link active">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!--Add task-->
    <section class="bg-white text-light p-3 p-lg-1">
        <div class="container container_width">
            <div  class="d-md-flex justify-content-around p-3">
                <h3 class="text-dark mb-md-0 mr-2">Make a list of 
                    <div class="btn btn-warning" id="modal"  data-bs-toggle="modal"  data-bs-target="#exampleModal">Tasks</div>
                    <input type="button" id="modal1"  data-bs-toggle="modal"  data-bs-target="#exampleModal" style="display: none;">
                </h3>
                <div class="modal fade" id="exampleModal"  tabindex="-1" data-bs-keyboard="false" data-bs-backdrop="static">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title text-dark" id="exampleModalLabel">Add Task</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="close"></button>
                            </div>
                            <div class="modal-body text-dark">
                                <form method="POST" id="form">
                                    <div class="form-group">
                                      <label for="recipient-name" class="col-form-label">Task Name:</label>
                                      <input type="text" class="form-control ipt" name="taskname" id="inputId" value="" autocomplete="off">
                                    </div>
                                    <div class="form-group">
                                      <label for="date-time" class="col-form-label">Due Date:</label>
                                      <input type="datetime-local" class="form-control" name="date" id="date">
                                    </div>
                                    <div class="form-group">
                                      <label for="message-text" class="col-form-label">Discription:</label>
                                      <textarea class="form-control ipt" name="discr" id="message_text"></textarea>
                                    </div>
                                    <input  id="btn" type="submit" style="display: none;"/>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-primary" onclick="document.getElementById('btn').click();">Save</button>
                                <!-- <button type="button"  class="btn btn-primary">Save changes</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-white text-dark p-3 p-lg-0">
        <div class="container bg-white container_width">
            <div>
                <div class="list-group-item mt-3 d-flex lit list-width" style="border-radius: 5px;">
                    <!-- <input type="checkbox" class="form-check-input" id="box"> -->
                    <h2 class="text-dark mt-1 flex-grow-1" id="text1">Task List</h2>
                    <i class="fa-solid fa-check p-1 m-1" id="right"></i>
                    <i class="fa fa-solid fa-minus p-1 m-1" id="del"></i>
                </div>
            </div>
            <div id="list"></div>  
        </div>
    </section>
    
    <script src="../static/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</body>
</html>