<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css" integrity="sha384-zIaWifL2YFF1qaDiAo0JFgsmasocJ/rqu7LKYH8CoBEXqGbb9eO+Xi3s6fQhgFWM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="shortcut icon" href="../static/favicon.ico">
    <title>S-HR</title>
</head>
<body class="p-2 m-0 border-0 bd-example">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container">
            <a href="#" class="navbar-brand">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4XerngAYda3ZhW2WCxkf2vMpotKotpmMSZQ&usqp=CAU" alt="" width="45" height="45" class="rounded-circle">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link active">Home</a>
                    </li>
                    <li class="nav-item"> 
                        <a href="#" class="nav-link active">About</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link active">Contact Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!--Add task-->
    <section class="bg-white text-light p-3 p-lg-1">
        <div class="container">
            <form action="/task" method="post" class="d-md-flex justify-content-around p-3">
                <h3 class="text-dark mb-md-0 mr-2">Make a list of <span class="text-info">Tasks</span></h3>
                <div class="input-group news-input">
                    <input type="text"  class="form-control" name="taskname" id="inputId" placeholder="Enter Task">
                    <input class="btn btn-outline-primary" id="btn" type="submit" value="Submit"/>
                </div>
            </form>
        </div>
    </section>

    <section class="bg-white text-dark p-3 p-lg-0">
        <div class="container bg-white">
            <form class="bg-white form-inline" id="list1">
                <ul class="list-group" id="list">
                    <li class="list-group-item mt-3 d-flex lit">
                        <!-- <input type="checkbox" class="form-check-input" id="box"> -->
                        <text class="text-dark mt-1 flex-grow-1" id="text1">Task List</text>
                        <i class="fa-solid fa-2x fa-check p-1 m-1" id="right"></i>
                        <i class="fa fa-solid fa-2x fa-minus p-1 m-1" id="del"></i>
                    </li>
                </ul>  
            </form>
        </div>
    </section>
    
    <script src="../static/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>